.poster-page {
  margin-top: 3rem;

  @media (min-width: $desktop-lg-width) {
    margin-top: 7rem;
  }

  &__title {
    margin-bottom: 2rem;
    text-align: center;

    font-size: 30px;
    font-weight: 200;

    @media (min-width: $tablet-width) {
      text-align: left;
      flex: 0 0 calc(50% - 2rem);
      margin: 0;
    }
  }

  &__search {
    display: flex;
    justify-content: space-between;
    flex: 0 0 calc(43% - 1rem);
    padding: 0 2rem;
    margin-top: 0;
    height: 2.5rem;
  }

  &__search-wrap {
    width: 100%;
  }

  &__list {
    flex: 0 0 calc(33% - 10px);
  }

  &__wrapper {
    display: block;

    @media (min-width: $tablet-width) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  &__wrap {
    margin-top: 2.5rem;

    @media (min-width: $tablet-width) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media (min-width: $desktop-lg-width) {

    }
  }

  &__item {
    margin: 1rem auto;
    width: 207px;

    @media (min-width: $tablet-width) {
      flex: 0 0 calc(29% - 1rem);
      margin:0 0 3rem 0;
    }

    @media (min-width: $desktop-lg-width) {
      flex: 0 0 calc(21% - 1rem);
    }
  }

  &__link {
    display: block;
    color: $white;
    font-size: 1.25rem;
    margin-bottom: .4rem;
  }

  &__date {
    display: flex;
    justify-content: space-between;
    margin-top: .6875rem;
    margin-bottom: .6875rem;
  }

  &__events {
    display: block;
    margin-bottom: 1rem;
  }

  &__city {
    font-size: 1.125rem;
    color: $text-grey;
  }
}