$black: #000000;
$white: #ffffff;
$border-grey: #4a4a4a;
$text-grey: #FBFDFF;
$text-yellow: #DDA33D;
$light-black :#8e8e8e;


$main-font: "AlegreyaSans", "Arial", sans-serif;
$montserratAlternates: "MontserratAlternates","Arial", sans-serif;
$arial: "Arial", sans-serif;


$tablet-width: 584px;

$desktop-lg-width: 929px;

$desktop-xl-width: 1440px;
